@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --tomato: hsl(4, 100%, 67%);
  --dark-slate-gray: hsl(234, 29%, 20%);
  --charcoal-gray: hsl(235, 18%, 26%);
  --gray: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

img,
source {
  width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
  font-family: Roboto, sans-serif;
}

body {
  background-color: var(--dark-slate-gray);
  font-size: 1.6rem;
  line-height: 1.4;
  color: var(--dark-slate-gray);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main,
section {
  background-color: var(--white);
  width: 100%;
}

article {
  margin: 3.4rem 2.4rem;
  display: grid;
  justify-content: center;
}

h1 {
  font-size: 4rem;
}

article p {
  margin-top: 1.6rem;
}

article ul {
  margin: 2.4rem 0 0 2.8rem;
}

article li {
  margin: 0.8rem 0;
  padding: 0 1rem;
}

form {
  margin-top: 4rem;
}

label {
  font-size: 1.2rem;
  display: block;
  position: relative;
  font-weight: 700;
}

.error-text {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.2rem;
  display: none;
  color: var(--tomato);
}

input,
button {
  width: 100%;
  max-width: 50rem;
  height: 5.5rem;
  border-radius: 8px;
  &:hover {
    cursor: pointer;
  }
}

input {
  display: block;
  margin-top: 1rem;
  padding: 0 3rem;
  font-size: 1.8rem;
  border: 1px solid var(--gray);
  &::placeholder {
    color: var(--gray);
  }

  &:focus {
    outline: none;
    border: 1px solid var(--dark-slate-gray);
  }
}

button {
  margin: 2.5rem 0 4rem;
  font-size: inherit;
  font-weight: 700;
  color: var(--white);
  background-color: var(--dark-slate-gray);
  border: none;

  &:hover {
    background-image: linear-gradient(90deg, rgb(255, 62, 94), var(--tomato));
  }
}

/* for success message component - mobile view */
section {
  min-height: 100vh;
  max-width: 50rem;
  padding: 2.5rem;
}
section img {
  width: 6.5rem;
  margin-top: 12rem;
}
h2 {
  font-size: 4rem;
  line-height: 1;
  margin-top: 4rem;
}
p {
  margin-top: 2.5rem;
  line-height: 1.5;
}
p span {
  font-weight: 700;
}
section button {
  margin-top: 60%;
}

@media only screen and (min-width: 840px) {
  main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 2.4rem 2rem;
    max-width: 1100px;
    border-radius: 36px;
  }
  article {
    margin-block: 0;
    max-width: 44rem;
    padding-inline: 2rem 4rem;
  }
  h1,
  h2 {
    font-size: 5.4rem;
    letter-spacing: 1.5px;
  }
  h1 {
    margin-top: -1rem;
  }

  form {
    margin-top: 3rem;
  }

  button {
    margin: 2.4rem 0 0;
  }

  /* for success message component - desktop view */
  section {
    min-height: 52rem;
    border-radius: 35px;
    padding: 1.8rem 6rem;
  }
  section img {
    margin-top: 3rem;
  }
  section button {
    margin-top: 4rem;
  }
}
